<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Jerry Tank</title>
</head>
<style>

</style>
<body>

<div id="container">
  <h2 id="active-name">Jerry Tank Controls</h2>
  <div class="content"></div>
</div>

</body>
</html>
